{#Указываем какой общий шаблон мы будем использовать для каждой страницы#}
{% extends 'main/base.html' %}
{% load static %}

{#Добавляем основной контент для страницы с вакансиями#}
{% block main %}
    <main>
        <div class="container vacancies">
            <div class="content">
                <h2>{{ vacancies_title }}</h2>
                {% for group, vacs in group_vac.items %}
                    <div class="block_vacancies">
                        <h3 id='{{ group }}'>{{ group }} </h3>
                        <div class="cards">
                            {% for vac in vacs %}
                                <div class="card">
                                    <h4>{{ vac.job_title }}</h4>
                                    {% if vac.subunit %}
                                        <p class="vacancies_info">Подразделение: {{ vac.subunit }}</p>
                                    {% endif %}
                                    {% if vac.required_education %}
                                        <p class="vacancies_info">Образование: {{ vac.required_education }}</p>
                                    {% endif %}
                                    {% if vac.phone %}
                                        <p class="vacancies_info">Телефон: {{ vac.phone }}</p>
                                    {% endif %}
                                    {% if vac.salary %}
                                        <p class="salary">{{ vac.salary }} ₽</p>
                                    {% endif %}
                                    <button class="respond" data-title="{{ vac.job_title }}">Откликнуться</button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                {% for group, files in group_vac_files.items %}
                    <div class="block_vacancies blank_vacancies">
                        <h3 id="blank_vacancies"> {{ group }} </h3>
                            <div class="doc_files blank">
                                {% for file in files %}
                                    <a href="{{ file.file_vac.url }}" target="_blank">{{ file.file_name }}</a>
                                {% endfor %}
                            </div>
                    </div>
                {% endfor %}
                <div id="modal" class="modal">
                    <form action="{% url 'vacancies:vacancies'%}" method="get" class="modal-content">
                        <span class="close">&times;</span>
                        <h1 id="modal-job-title"> Должность </h1>
                        <div class="input-container input_modal_window">
                            <input type="text" placeholder="ФИО">
                            <input type="text" placeholder="E-mail">
                            <input type="text" placeholder="Номер телефона">
                            <input type="hidden" name="accept_policy" id="hidden_accept_policy">
                            <button type="submit" class="respond send">Отправить</button>
                        </div>
                        <label class="submit_container">Я ознакомлен и согласен с <a target="_blank" href="{% url 'main:policy' %}">политикой обработки персональных данных</a>
                           <input class="checkmark" type="checkbox" name="accept_policy" id="check_policy" value="accept">
                        </label>
                    </form>

                </div>
            </div>
        </div>
    </main>
{% endblock %}

{#Добавляем скрипт для страницы вакансий#}
{% block js %}
    <script src="{% static 'deps/js/vacancies.js' %}"></script>
{% endblock %}
