{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'deps/css/styles.css' %}">
</head>
<body>
<!-- Блок для header -->
{% block header %}
    <header class="other_header">
        <div class="header_contact_block">
            <div class="logo">
                <h1><a href="{% url 'main:index' %}">ОТДЕЛ КАДРОВ</a></h1>
            </div>
            <div class="header_contacts">
                <div>
                    <span>Телефон: 20-93</span>
                </div>
            </div>
        </div>

        <div class="header_nav">
            <nav>
                <ul>
                    <li><a href="{% url 'main:index' %}">Главная</a></li>
                    <li><a href="{% url 'docs:documents' %}">Документы</a></li>
                    <li><a href="{% url 'docs:applications' %}">Заявления</a></li>
                    <li><a href="{% url 'vacancies:vacancies' %}">Вакансии</a></li>
                    <li><a href="{% url 'main:reserve' %}">Кадровый Резерв</a></li>
                    <li><a href="{% url 'main:info' %}">Полезная информация</a></li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}

{#подключаем страницу с уведомлениями#}
{% include 'includes/notifications.html' %}
{#Блок для main (контента)#}
{% block main %}

{% endblock %}
<footer>
    <div class="footer_title">
        <h1>ОТДЕЛ КАДРОВ</h1>
    </div>
    <div class="footer_nav">
        <div class="footer_links">
            <div class="footer_main">
                <h3><a href="{% url 'main:index' %}">ГЛАВНАЯ</a></h3>
                <ul>
                    <li><a href="{% url 'main:index' %}#history_ok">История ОК</a></li>
                    <li><a href="{% url 'main:hr_structure' %}">Структура ОК</a></li>
                </ul>
            </div>
            <div class="footer_docs">
                <h3><a href="{% url 'docs:documents' %}">ДОКУМЕНТЫ</a></h3>
            </div>
            <div class="footer_declarations">
                <h3><a href="{% url 'docs:applications' %}">ЗАЯВЛЕНИЯ</a></h3>
            </div>
            <div class="footer_vacancies">
                <h3><a href="{% url 'vacancies:vacancies' %}">ВАКАНСИИ</a></h3>
                <ul>
                    {% for group, vacs in group_vac.items %}
                        <li><a href="{% url 'vacancies:vacancies' %}#{{ group }}">{{ group }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
{% block js %}

{% endblock %}
</body>
</html>