{#Указываем какой общий шаблон мы будем использовать для каждой страницы#}
{% extends 'main/base.html' %}
{% load static %}

{#Добавляем основной контент для страницы со структурой отдела кадров#}
{% block main %}
    <main>
        <div class="container hr_structure">
            <div class="content">
                <h2>{{ hr_title }}</h2>
                {% for group, users in group_users.items %}
                    <div class="block_hr_structure">
                        <h3> {{ group }} </h3>
                        <div class="table_hr">
                            <table>
                                <tr>
                                    <th class="col1">ФИО</th>
                                    <th class="col2">Должность</th>
                                    <th class="col3">Телефон</th>
                                    <th class="col4">E-mail</th>
                                </tr>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.first_name }} {{ user.last_name }} {{ user.userprofile.patronymic }}</td>
                                        <td>{{ user.userprofile.job_title }}</td>
                                        <td>{{ user.userprofile.phone_number }}</td>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}