{#Указываем какой общий шаблон мы будем использовать для каждой страницы#}
{% extends 'main/base.html' %}
{% load static %}

{#Переопределяем header для главной страницы#}
{% block header %}
    <header>
        <div class="header_contact_block">
            <div class="logo">
                <h1><a href="{% url 'main:index' %}">ОТДЕЛ КАДРОВ</a></h1>
            </div>

            <div class="header_contacts">
                <div>
                    <a href="mailto:info@star.ru">info@star.ru</a>
                </div>
                <div>
                    <span>+7 (818) 469-60-93</span>
                </div>
            </div>
        </div>

        <div class="header_nav">
            <nav>
                <ul>
                    <li><a href="{% url 'main:index' %}">Главная</a></li>
                    <li><a href="{% url 'docs:documents' %}">Документы</a></li>
                    <li><a href="{% url 'docs:applications' %}">Заявления</a></li>
                    <li><a href="{% url 'vacancies:vacancies' %}">Вакансии</a></li>
                    <li><a href="{% url 'main:reserve' %}">Кадровый Резерв</a></li>
                    <li><a href="{% url 'main:info' %}">Полезная информация</a></li>
                </ul>
            </nav>
        </div>

        <div class="header-content">
            {% for new in news %}
                <div class="news">
                    <h2>{{ new.title }}</h2>
                    <p>{{ new.text }}</p>
                </div>
            {% endfor %}
            <div class="arrow-buttons">
                <button class="arrow left-arrow">&lt;</button>
                <button class="arrow right-arrow">&gt;</button>
            </div>
        </div>
    </header>
{% endblock %}

{#Добавляем основной контент для главной страницы#}
{% block main %}
    <main>
        <div class="container_main" id="history_ok">
            <div class="main_content">
                <div class="text_main">
                    <h2>{{ history_title }}</h2>
                    <p>{{ history_company.paragraph_one }}</p>
                    <p>{{ history_company.paragraph_two }}</p>
                </div>
                {% if history_company.video %}
                    <div class="video_main">
                       <video width="731" controls>
                            <source src="{{ history_company.video.url }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                {% else %}
                    <div class="no_video_main"> </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}